:root {
  --highlights-primary: #0067aa;
  --highlights-secondary: #599cc8;
  --black: #000000;
  --white: #FFFFFF;
  --text: #696969;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: rgb(255, 255, 255);
  padding: 0;
}