.heroContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
}

.heroContent {
	display: flex;
	flex-direction: row;
	gap: 48px;
	align-items: center;
	width: 70%;
	padding: 32px 24px;
}

.heroText {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 16px;
  width: 40%;
  height: 100%;
}

.heroText h1 {
	font-size: 4rem;
	font-family: var(--font-amaranth);
	font-weight: 500;
	line-height: 1.1;
	margin-bottom: 8px;
}

.brasil {
	color: var(--highlights-primary);
}

.heroDescription {
	font-size: 1rem;
	color: var(--text);
  font-family: var(--font-ebgaramond);
	margin-bottom: 16px;
}

.heroButton {
	background: var(--highlights-primary);
	color: #fff;
	border: none;
	border-radius: 8px;
	padding: 12px 24px;
	font-size: 1rem;
	font-weight: 600;
  font-family: var(--font-ebgaramond);
	cursor: pointer;
	transition: background 0.2s;
}
.heroButton:hover {
	background: var(--highlights-secondary);
}

.heroImages {
	display: flex;
	flex-direction: column;
	gap: 16px;
  width: 55.5%;
}

.heroTopImages {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.heroBottomImages {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.heroImg {
	border-radius: 16px;
	object-fit: cover;
}

@media (max-width: 900px) {
	.heroContent {
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;
	}
	.heroImages {
		flex-direction: row;
		gap: 12px;
	}
	.heroTopImages, .heroBottomImages {
		flex-direction: column;
		gap: 12px;
	}
}
