/* Seção de Pesquisa e Filtros */
.searchSection {
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.searchContainer {
    width: 90%;
    max-width: 1350px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.searchBar {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.searchInput {
    width: 100%;
    padding: 15px 50px 15px 20px;
    border: 2px solid #e1e5e9;
    border-radius: 18px;
    font-size: 1rem;
    font-family: var(--font-ebgaramond);
    outline: none;
    transition: border-color 0.3s ease;
    box-shadow: 0 2px 10px var(--highlights-secondary);
}

.searchInput:focus {
    border-color: var(--highlights-primary);
}

.searchInput::placeholder {
    color: #a0a0a0;
}

.searchButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--highlights-secondary);
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background: var(--highlights-secondary);
}

.filterButtons {
    display: flex;
    gap: 12px;
    width: 100% !important;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filterBtn {
    padding: 12px 40px;
    border: none;
    border-radius: 25px;
    background: var(--highlights-secondary);
    color: white;
    font-size: 1rem;
    font-family: var(--font-ebgaramond);
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(107, 163, 208, 0.3);
}

.filterBtn:hover {
    background: var(--highlights-primary);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(107, 163, 208, 0.4);
}

.filterBtn.active {
    background: var(--highlights-primary);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* -------- Responsividade -------- */

/* Dispositivos Pequenos */
@media (min-width: 330px) and (max-width: 767px) {
    .searchSection {
        padding: 30px 0;
    }

    .searchContainer {
        width: 95%;
        gap: 15px;
    }

    .searchInput {
        padding: 12px 45px 12px 15px;
        font-size: 0.9rem;
    }

    .searchButton {
        width: 30px;
        height: 30px;
        right: 8px;
    }

    .filterButtons {
        gap: 8px;
    }

    .filterBtn {
        padding: 10px 18px;
        font-size: 0.85rem;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .searchContainer {
        width: 85%;
    }

    .filterBtn {
        padding: 11px 20px;
        font-size: 0.9rem;
    }
}