.bannerContainer {
    position: relative;
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.catarratasImg {
    object-fit: cover;
    z-index: 1;
}

.bannerText {
    position: absolute;
    z-index: 2;
    text-align: center;
}

.bannerText h1 {
    font-size: 3.5rem;
    font-family: var(--font-amaranth);
    font-weight: 500;
    margin: 0;
    color: white;
    line-height: 1.1;
    white-space: nowrap;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.brasil {
    color: #fff;
}

/* -------- Responsividade -------- */

/* Dispositivos Pequenos */
@media (min-width: 330px) and (max-width: 767px) {
    .bannerContainer {
        height: 20rem;
    }

    .bannerText h1 {
        font-size: 2.5rem;
        white-space: normal;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .bannerContainer {
        height: 25rem;
    }

    .bannerText h1 {
        font-size: 3rem;
    }
}

/* Telas Grandes */
@media (min-width: 1025px) {
    .bannerContainer {
        height: 30rem;
    }
}